[package]
name = "zero2prod"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4"
tokio = { version = "1", features = ["macros", "rt-multi-thread"] }
serde = "1.0.228"
serde_json = "1.0.148"
env_logger = "0.11.3"
dotenv = "0.15.0"
lazy_static = "1.5.0"
